/* universal selector */
* {
    margin: 0;
    padding: 0;
}

/* body  */
body {
    background-color: rgb(203, 203, 203);
}

/* Navbar css + logo part */
nav {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(88, 67, 227); */
    background-image: linear-gradient(to right, rgb(88, 67, 227), rgb(149, 84, 235));
    color: aliceblue;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    gap: 42px;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    justify-self: flex-start;
    font-size: 29px;
    font-weight: bolder;
    font-family: Brush Script MT, cursive;
}

#head-logo {
    color: #ffffff;
    text-decoration: none;
}

/* Hero section Css */
.hero {
    /* background-color: rgb(177, 111, 228);
             */
    background: #523ffb;
    background: linear-gradient(272deg, rgba(82, 63, 251, 1) 6%, rgba(70, 200, 251, 1) 34%, rgba(237, 252, 70, 1) 77%);
    height: 95vh;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.hero-left .one {
    font-size: 60px;
}

.hero-left .two {
    font-size: 25px;
}

.bold {
    font-weight: bolder;
}

.hero-right img {
    border-radius: 50%;
    width: 33vw;
}

.button-container {
    padding: 9px 0;
}

.btn {
    padding: 7px 9px;
    background-color: #523ffb;
    color: khaki;
    cursor: pointer;
    border: 2px solid #3828c9;
    border-radius: 20px;
    font-size: 20px;
}

.btn a{
    color: khaki;
    text-decoration: none;

}

/* Css of Projects section */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -11;
    background: #523ffb;
    background: linear-gradient(272deg, rgba(82, 63, 251, 1) 6%, rgba(70, 200, 251, 1) 34%, rgba(237, 252, 70, 1) 77%);
}

.project {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    background-color: rgb(204, 208, 212);
    border-radius: 15px;
}

.project-img {
    margin-top: 10px;
}

.project-img img {
    width: 60vw;
    border-radius: 30px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 20px;
}

#para {
    display: block;
    width: 40vw;
}

#Headin {
    font-size: 46px;
}

#project-2 {
    width: 20vw;
    height: 45vh;
}

/* Footer Styles */
.foot {
    background-image: linear-gradient(to right, rgb(88, 67, 227), rgb(149, 84, 235));
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 750px) {
    .nav {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 12px;
    }



}